

.setFixed {
  background-color: #e7232300;
  display: flex;
  flex-direction: column;
  margin: 0px auto 0;
  width: 80%;
  height: 57%;
  animation: anima ease-in-out 1s;
}
@keyframes anima {
  from {
    transform: translateY(20px);
  }
  to {
  }
}
.container {
  transition: all 1s ease-in-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  margin: 30px auto 0;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.leftSide {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.rightSide {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
}
.linkName {
  direction: rtl;
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: relative;
}
#link {
  cursor: pointer;
  margin-right: 2px;
  color: #008df1;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  opacity: 0.5;
  direction: rtl;
}
#link:hover {
  opacity: 1;
  color: #0fabc6;
}
#dash {
  cursor: default;
  color: #6a8496;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  opacity: 1;
  direction: rtl;
}

#productTitleFa {
  white-space: nowrap;
  cursor: default;
  direction: rtl;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
}
#productTitleEn {
  white-space: nowrap;
  cursor: default;
  font-size: 10px;
  color: #575757;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
  opacity: 0.5;
  position: relative;
}
#productDetaile {
  height: 200px;
  font-size: 14px;
  cursor: default;
  direction: rtl;
  text-align: justify;
  margin: 10px 20px;
}
.price {
  display: flex;
  cursor: default;
  justify-content: space-around;
  width: 100%;
  border: 0px;
  background: #008a7831;
  border-radius: 3px;
  margin: 20px auto;
}
#priceTitle {
  line-height: 0;
  white-space: nowrap;
  direction: rtl;
  font-size: 14px;
}
#button {
  transition: all 0.8s ease-in-out;
  margin: 20px auto;
  height: 40px;
  color: white;
  background: #000000;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 10px;
  font-weight: 800;
  line-height: 35px;
  display: flex;
}
#button:hover {
  border: 1px solid #c5c5c5;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.description {
  grid-area: 2 / 1 / 3 / 3;
  display: inline-flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .description {
    display: contents;
    position: relative;
  }
}
